@model IEnumerable<Somativa.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendas</h1>

<p>
    <a asp-action="Create" class="btn btn-warning m-2">
        <svg bootstrap-icon="Plus" width="16" height="16" aria-label="Create"></svg>
        Criar
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>

            <td class="text-end">
                    <a asp-action="Edit" class="btn m-2 text-white" style="background-color:lightseagreen" asp-route-id="@item.VendaId">
                        <svg bootstrap-icon="Pencil" width="16" height="16" aria-label="Editar"></svg>
                        Editar
                    </a>
                    <a asp-action="Details" class="btn m-2 text-white" style="background-color:cadetblue" asp-route-id="@item.VendaId">
                        <svg bootstrap-icon="InfoCircle" width="16" height="16" aria-label="Mais"></svg>
                        Detalhar
                    </a>
                    <a asp-controller="CompraItems" asp-action="Index" class="btn m-2 text-white" style="background-color:lightblue" asp-route-id="@item.VendaId">
                        <svg bootstrap-icon="Trash2" width="16" height="16" aria-label="Items"></svg>
                        Itens
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
